name: Render and Deploy R Markdown Website

on:
  push:
    branches: [main]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install rmarkdown
        run: R -e 'install.packages("rmarkdown")'

      - name: Build site
        run: R -e 'rmarkdown::render_site()'

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs
